:root {
  --color-primary: #5649c9a9;
  --color-bg: #f5f5f5;
  --color-dark: #131212;
  --color-link: #4486d1d7;
  --color-hover: #0094ca;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  padding: 0 30px;
  color: var(--color-dark);
  background-color: var(--color-bg);
}

a {
  font-weight: 700;
  text-decoration: none;
  color: var(--color-link);
  transition: 0.3s all;
}

a:hover {
  color: var(--color-hover);
}

ul {
  padding: 0 5px;
  list-style: none;
}

h1 {
  font-size: 40px;
  color: var(--color-primary);
}

h2 {
  margin: 10px 0;
  color: var(--color-primary);
}

section {
  padding: 40px;
}

.icon {
  width: 30px;
}

.nav__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.nav__item {
  padding: 0 20px;
}

.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.about-me {
  display: flex;
}

.about-me__info {
  width: 80%;
  padding: 0 10px;
}

.projects {
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  justify-content: center;
}

.footer__link {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.footer__icon {
  width: 30px;
}